.header_logo__ {
  max-width: 157px;
  min-width: 100PX;
  display: block;
  z-index: 1;
  flex-basis: content;
  flex-grow: 1;
  
  @include xxs {
    max-width: 10px;
    min-width: 70px;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}