.select__ {
  width: 100% !important;
  margin-bottom: 0;
  
  // button
  .dropdown-toggle {
    border-radius: $mainBorderRadius;
    border: 1px solid $inputBorderColor;
    background-color: #fff;
    height: 55px;
    padding: 13px 30px;
    font-size: 14px;
    font-stretch: normal;
    color: $placeholderColor;
    outline: none !important;
    
    &::after {
      content: url(../images/shapes/arrow-down.svg);
      margin: 0;
      margin-right: 0;
      display: inline-block;
      vertical-align: middle;
      border: none !important;
      margin-top: 0;
      margin-inline-end: 0;
      height: 14px;
    }
    
    .filter-option {
      color: $placeholderColor;
      display: flex;
      align-items: center;
      margin-inline-end: 15px;
      text-align: right;

      @include dir {
        text-align: left;
      }
    }

    &:focus,
    &:active,
    &:hover {
      border-color: $primaryColor !important;
      color: $headingMainColor !important;
      outline: none !important;
    }

  }

  &.show {
    > .btn-light.dropdown-toggle {
      background-color: #fff !important;
      border-color: $primaryColor !important;
      color: $headingMainColor !important;
      outline: none !important;
    }
  }

  // list items
  .dropdown-menu {
    li {
      .dropdown-item {
        outline: none !important;
        font-size: 14px;
        color: $headingMainColor;
        border-radius: 0;

        &.active,
        &:active,
        &:hover {
          outline: none !important;
          background-color: $primaryColor;
          color: #fff;
        }
      }
    }
  }

  &.with_icon__ {
    .dropdown-toggle{
      &::before {
        content: url(../images/shapes/select_input.svg);
        width: 20px;
        height: 20px;
        margin-inline-end: 10px;
      }
    }
  }
}
