.default_page__ {
padding: 90px;

  @include sm {
    padding: 40px;
  }
}

// section defaults
.default_section__ {
  padding-top: 80px;

  @include sm {
    padding-top: 40px;
  }
}


.row_modify {
  display: flex;
  align-items: center;

  @include md {
    justify-content: center;
  }

  &.with_row_gap {
    row-gap: 30px;
  }
  
  &.with_margin {
    margin-bottom: 30px;
  }
  
  &.reverse_dir_column_small_size {
    @include xs {
      gap: 20px;
      flex-direction: column-reverse;
    }
  }
}

.col_start__ {
  align-self: flex-start;
}

.col_center__ {
  align-items: center;
}

.col_flex {
  display: flex;
}