.main_slider {
  padding-top: 120px;
  // height: 100vh;
  height: fit-content;
  min-height: 718px;
  background-color: $primaryColor;
  position: relative;

  @include md {
    min-height: 595px;
  }

  @include sm {
    min-height: 520px;
  }

  @include xs {
    min-height: 350px;
  }

  @include xxs {
    min-height: 207px;
    padding-top: 70px;
  }

  .swiper-container {
    width: calc(100% + 90px);

    @include md {
      width: calc(100% + 25px);
    }

    @include xs {
      position: relative;
      padding: 0 30px;
      width: 100%;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0 !important;
    visibility: visible !important;
    transition: 0.5s;
  }

  .slider_content {
    display: flex;
    gap: 35px;

    @include md {
      gap: 15px;
    }

    @include xs {
      flex-direction: column;
    }
  }

  .img_wrapper {
    flex-grow: 1;
    max-width: 817px;

    @include md {
      max-width: 600px;
    }

    .figure__ {
      padding-bottom: 67.93%;
      margin-inline-end: -90px;
      width: 100%;

      @include md {
        margin-inline-end: -25px;
      }

      @include xs {
        margin: 0;
      }

      @include dir {
        transform: scaleX(-1);
      }
    }
  }

  .slider_description {
    max-width: 33%;

    padding-top: 100px;

    @include md {
      // max-width: 226px;
      padding-top: 40px;
    }

    @include xs {
      min-width: 100%;
      padding-top: 20px;
      min-height: 169px;
    }
    
    @include xs {
      min-height: 230px;
    }

    .title__ {
      color: #fff;
      font-size: 33px;
      font-weight: 700;
      margin-bottom: 20px;
      line-height: 1.8;
      text-align: start;

      @include md {
        font-size: 22px;
        line-height: 1.6;
        margin-bottom: 20px;
      }

      @include xs {
        text-align: center;
      }

      @include dir {
        font-size: 28px;
      }
    }

    .parag__ {
      color: #fff;
      font-size: 23px;
      font-weight: 300;
      margin-bottom: 40px;
      text-align: start;

      @include md {
        font-size: 16px;
        margin-bottom: 20px;
      }

      @include xs {
        text-align: center;
      }

      @include dir {
        font-size: 20px;
      }
    }
  }

  .section_wave__ {
    position: absolute;
    left: 0;
    height: 160px;
    bottom: -5px;
    width: 100%;
    z-index: 10;

    @include md {
      height: 130px;
    }

    @include xs {
      height: 45px;
    }

    @include xxs {
      height: 30px;
    }


    @include dir {
      transform: scaleX(-1);
    }
  }
}

.about_us_section {
  position: relative;
  overflow: hidden;

  .with_row_gap {
    row-gap: 50px;
  }

  .img_wrapper {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 172px;
      height: 255px;
      background-color: $primaryColor;
      border-radius: 28px;
      top: 93px;
      inset-inline-start: -50px;
      transition: 0.5s;
    }

    .figure__ {
      padding-bottom: 98.41%;
      border-radius: $secondaryBorderRadius;
      overflow: hidden;
    }
  }

  .about_us_description__ {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main_parag__,
  .parag__ {
    font-size: 16px;
    font-weight: 400;
    color: $paragraphSecondaryColor;
    margin-bottom: 50px;
    
    @include sm {
      font-size: 13px;
      margin-bottom: 20px;
    }
  }

  .parag__ {
    font-weight: 300;
    margin: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-end: -260px;
    width: 564px;
    height: 564px;
    opacity: 0.08;
    background-color: rgba($primaryColor , 0.41);
    filter: blur(0.41);
    border-radius: 50%;

  }
}

.our_products_section__ {
  padding-bottom: 80px;
  .figure__ {
    border-radius: $secondaryBorderRadius;
    overflow: hidden;
    padding-bottom: 78.4%;

    &:hover {
      .img-om {
        transform: scale(1.1);
      }
    }
  }
}

.gallery_section__ {
  padding-bottom: 80px;
  background-color: $greyColor;
  position: relative;
  overflow-x: clip;
  .figure__ {
    padding-bottom: 78.4%;
    border-radius: $secondaryBorderRadius;
    overflow: hidden;

    &:hover {
      .img-om {
        transform: scale(1.1);
      }
    }
    
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 260px;
    height: 260px;
    background-color: rgba($primaryColor , 0.1);
    transform: rotate(-45deg);
    border-radius: 55px;
    animation: rotating 6s linear infinite;
  }

  &::before {
    top: 88px;
    inset-inline-start: -190px;
  }
  
  &::after {
    bottom: 110px;
    inset-inline-end: -190px;
  }
}

.location_slider_section__ {
  margin-bottom: 100px;

  .location_slider__ {
    position: relative;
  }

  .map_frame__ {
    width: 100%;
    height: 100%;
    min-height: 320px;
    border-radius: $secondaryBorderRadius;
  }

  .icon__ {
    margin-bottom: 40px;
  }

  .title__ {
    margin-bottom: 18px;
    color: $headingMainColor;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
  }

  .parag__ {
    font-size: 15px;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 28px;
    text-align: center;
  }

  .arrow-sec {
    transform: unset !important;
    bottom: 30px;
    inset-inline-end: calc((41.66% - 43px) / 2);

    @include sm {
      bottom: 0;
      inset-inline-end: 50% !important;
      transform: translateX(-50%);
    }

    @include dir {
      left: unset !important;
    }
  }
}

.contact_us_section__ {
  position: relative;
  overflow: hidden;

  .contact_us_form_wrapper__ {
    margin-bottom: 40px;
    padding: 80px 75px;
    
    @include sm {
      padding: 30px 25px;
    }
  }

  .contact_us_form__ {
    min-width: 352px;
    

    @include sm {
      min-width: 100%;
    }
  }

  .img_wrapper {
    flex-grow: 1;
    flex-shrink: 0;

    @include sm {
      min-width: 50%;
    }

    @include xs {
      min-width: 100%;
    }
  }

  .figure__ {
    padding-bottom: 85.97%;
    flex-shrink: 0;
  }

  &:before {
    content: "";
    position: absolute;
    width: 520px;
    height: 520px;
    background-color: $primaryColor;
    border-radius: 55px;
    top: 7%;
    inset-inline-end: -385px;
    transform: rotate(-45deg);
    animation: rotating 6s linear infinite;

    @include xs {
      inset-inline-end: -435px;
      height: 430px;
      width: 430px;
    }
  }
}
