.footer_sec__ {
  padding-top: calc(212px + 68px); // footer_wave_photo height + needed padding
  padding-bottom: 50px;
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: $primaryColor;

  @include sm {
    padding-top: calc(130px + 68px); // footer_wave_photo height + needed padding
  }

  @include xs {
    padding-top: calc(80px + 30px); // footer_wave_photo height + needed padding
    padding-bottom: 20px;
  }

  .footer_wave_photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 212px;

    @include sm {
      height: 130px;
    }

    @include xs {
      height: 80px;
    }
  }
}

.footer_logo__ {
  max-width: 227px;
  width: 227px;
  min-width: 100px;

  .figure__ {
    width: 100%;
  }
  
  img {
    width: 100%;
    object-fit: contain;
  }
}

.footer_content__ {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include sm {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;

  .li__ {
    &:not(:last-child) {
      margin-inline-end: 15px;
    }
    
    @include xxs {
      &:not(:last-child) {
        margin-inline-end: 5px;
      }
    }
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    background-color: rgba(#fff, 0.16);
    border-radius: 50%;
    padding: 8px;

    img {
      filter: none;
    }
    
    &:hover {
      background-color: rgba(#fff, 0.40);
    
    }
  }
}


.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  border: 0;
  
  @include sm {
    padding: 20px 0;
    justify-content: center;
  }
  
  @include xxs {
    font-size: 8px;
  }
  

  .copyright_icon__ {
    margin-inline-end: 10px;
  }

  .copyright_logo__ {
    margin-inline-start: 10px;
  }
}
