@import "header/dropdown";
@import "header/login_buttons";
@import "header/1_logo";
@import "header/2_navbar";
@import "header/toolbar_options";

.main_header__ {
  position: relative;
  overflow: hidden;
}

.page_header__ {
  position: static;

  .fixed_header__ {
    position: unset;
    background-color: $primaryColor;
  }
}

.fixed_header__ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  padding: 25px 0 30px;

  @include xxs {
    padding: 10px 0;
  }

  &.active_menu__,
  &.not_active_menu__ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    transition: 0s;
  }

  &.active_menu__ {
    animation: active-menu 0.5s;
    background-color: $primaryColor;
    box-shadow: $secondaryShadowColor;
  }

  &.not_active_menu__ {
    animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    top: -200px;
  }
}

.header_content__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes active-menu {
  0% {
    // transform: translateY(-100%);
    top: -200px;
  }

  100% {
    // transform: translateY(0);
    top: 0;
  }
}

@keyframes not-active-menu {
  0% {
    // transform: translateY(0);
    top: 0;
  }

  100% {
    // transform: translateY(-100%);
    top: -200px;
  }
}
