// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: 0.5s;
  overflow: hidden;
  background-color: $primaryColor;
  
  &.swiper-button-disabled {
    background-color: $greyColor;
    opacity: 1;

    &::after {
      filter: unset;
      
    }
  }
  
  &::after {
    content: '';
    filter: brightness(0) invert(1);
    background-image: url("../images/shapes/arrow_left.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    transform: unset;
  }

  &:hover {
    background-color: rgba($primaryColor , 0.9);

    &::after {
      filter: brightness(0) invert(1);
    }
  }

}

.swiper-button-next {
  &::after {
    transform: rotateY(-180deg);

  }
}

// swiper-pagination
.swiper-pagination {
  position: absolute;
  left: unset !important;
  inset-inline-start: 0x !important;
  bottom: 95px !important;
  width: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  max-width: 30%;
  gap: 10px;

  @include md {
    bottom: 120px !important;
  }

  @include sm {
    bottom: 40px !important;
  }
  
  @include xs {
    bottom: unset !important;
    top: 50% !important;
    inset-inline-start: -70px !important;
    transform: translateY(-50%) rotate(90deg);
    width: fit-content;
    height: 0 !important;
  }

  @include xxs {
    inset-inline-start: -45px !important;
  }

  @media only screen and (max-width: 380px) {
    inset-inline-start: -30px !important;
  }

}

.swiper-pagination-clickable .swiper-pagination-bullet {
  margin: 0 3px;
  border-radius: 5px;
  background-color: rgba(#fff, 0.31);
  opacity: 1;
  width: 15px;
  height: 5px;

  @include xs {
    width: 8px;
    height: 3px;
    margin: 0 !important;
  }

  &.swiper-pagination-bullet-active {
    // background-color   : $primaryColor;
    border-radius: 5px;
    background-color: #fff;
    width: 36px;
    height: 8px;

    @include xs {
      width: 15px;
      height: 5px;
    }
  }
}

// ##################################################################

.arrow-sec {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  z-index: 11;
}

.swiper-slide {
  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}