// main colors
$primaryColor: #49BCB9;
$secondaryColor: #F6381E;

$inputBorderColor: #DBDBDB;
$searchBorderColor: rgba(#094271 , 0.1);
$greyColor: #EEEEEE;
$placeholderColor: #6B6B6B;
$primaryColorHover: rgba($primaryColor, 0.9);
$secondaryColorHover: rgba($secondaryColor, 0.9);
$mainShadowColor: 0 0 20px rgba(#707070, 0.11);
$secondaryShadowColor: 0 0 40px rgba(#707070, 0.11);
$thirdShadowColor: 0 0 30px rgba(#707070, 0.11);
$mainRedColor: #E40000;
$secondRedColor: #E2114A;
$yellowColor: #FEBB01;
$greenColor: #34AA16;
$ratingIconBackground: #cbcbcb;




$secondBorderColor: #BBBBBB;
$redColor: #f54748;
$inputBackgroundColor: #f6f6f6;

// head colors
$headingMainColor: #333;
$headingSecondaryColor: #333743;
$headingThirdColor: #2a2929;
$headingFourthColor: #737373;
$headingFifthColor: #818181;

//parag Colors
$paragraphMainColor: #9B9B9B;
$paragraphSecondaryColor: #333;
$paragraphThirdColor: #3F4653;
$paragraphFourthColor: #9E9E9E;
$paragraphFifthColor: #6B6B6B;
$paragraphSixthColor: #9f9f9f;


$mainSectionTitleBackground: rgba(#3F4653 , 0.06);

//brand Colors
$twitterColor: #2abdf4;
$facebookColor: #4979ba;
$linkedinColor: #2279ef;

$borderColor: #EAEAEA;
$borderBreakColor: #3F4653;

//border radius
$mainBorderRadius: 20px;
$secondaryBorderRadius: 30px;


$thirdBorderRadius: 33px;
$fourthBorderRadius: 15px;

$mainBackgroundColor: #F3F3F3;

$dir: "ltr";
