.about_us_card {
  width: 100%;
  padding: 56px 30px 27px;
  background-color: rgba(#000 , 0.02);
  border-radius: $secondaryBorderRadius;
  position: relative;
  overflow: hidden;
  transition: 0.5s;

  .icon__ {
    margin-bottom: 35px;
    filter: brightness(0);
    transition: 0.5s;
  }

  .img-om {
    height: 80px;
  }

  .title__ {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    color: $headingMainColor;
    margin-bottom: 18px;
    transition: 0.5s;
  }

  .parag__ {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    color: $paragraphMainColor;
  }
  

  &::before {
    content: '';
    position: absolute;
    width: 253px;
    height: 6px;
    background-color: $secondaryColor;
    border-radius: $secondaryBorderRadius;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
  }

  &:hover {
    background-color: rgba($secondaryColor , 0.05);

    .icon__ {
      filter: unset;
    }
    
    .img-om {
      filter: brightness(0) saturate(1) invert(0.31) sepia(0.64) saturate(40.89) hue-rotate(349deg) brightness(0.97) contrast(0.99);
    }

    .title__ {
      color: $secondaryColor;
    }

    &::before {
      bottom: 0;
    }
  }
}