.nav-tabs {
  margin: 0 auto;
  padding: 0;
  border: none;
  gap: 15px;
  width: fit-content;
  flex-wrap: nowrap;
  margin-bottom: 50px;

  @include xs {
    width: 100%;
    gap: 10px;
  }

  .nav-item {
    height: 48px;
    width: 168px;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    color: $paragraphMainColor;
    background-color: $greyColor;
    border: 1px solid transparent;
    transition: 0.5s;
    
    @include xs {
      width: fit-content;
      width: calc(50% - 5px);
      max-width: calc(50% - 5px);
    }

    @include dir {
      font-size: 12px;
    }
    
    &:hover {
      background-color: rgba($primaryColor , 0.2);
    }
    
    &.active {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}

@include sm {
  .nav-tabs {
    justify-content: center;
    gap: 10px;

    .nav-item {
      min-width: calc(100% / 2 - 5px);
    }
  }
}
