.circle_shape__ {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(#fff, 0.18);
  border-radius: 50%;
  filter: blur(10px);
  opacity: 0.60;
  
  @for $i from 1 through 5 {
    &.circle_shape#{$i} {
      width: #{$i * 100}px;
      height: #{$i * 100}px;
    }
  }
}

