.contact_us_card__ {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $greyColor;
  gap: 27px;
  padding: 39px;
  border-radius: $secondaryBorderRadius;
  cursor: pointer;
  transition: 0.5s;

  .title__ {
    color: $headingMainColor;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 13px;
    transition: 0.5s;
  }

  .parag__ {
    margin: 0;
    color: $paragraphMainColor;
    font-size: 18px;
    font-weight: 300;
    transition: 0.5s;
  }

  &:hover {
    text-decoration: none ;
    .icon__ {
      filter: brightness(0) invert(1);
    }

    .title__,
    .parag__ {
      color: #fff;
    }

    &.call_card__ {
      background-color: $primaryColor;
    }

    &.whats_card__ {
      background-color: #00CF30;
    }

    &.mail_card__ {
      background-color: $secondaryColor;
    }
  }
}
