
.section_header_wrapper__ {
  margin-bottom: 60px;
  width: fit-content;
  position: relative;
  height: fit-content;

  &::before {
    content: "";
    background-color: rgba($primaryColor, 0.11);
    border-radius: $mainBorderRadius;
    position: absolute;
    transform: rotate(-15deg);
    top: -20px;
    inset-inline-start: -30px;
    width: 89px;
    height: 91px;
    transition: 0.5s;

    @include xs {
      width: 75px;
      height: 75px;
    }
  }
  
  .section_title__ {
    font-size: 33px;
    font-weight: 700;
    color: $headingMainColor;
    text-transform: capitalize;
    margin-bottom: 16px;
    
    @include xs {
      font-size: 20px;
    }
  }
  
  .section_sub_title__ {
    font-size: 20px;
    font-weight: 300;
    color: $paragraphMainColor;
    margin: 0;

    @include xs {
      font-size: 14px;
    }
  }

  &:hover {
    &::before {
      top: -10px;
      inset-inline-start: -10px !important;
      transform: unset;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
    }
  }

  &.center__ {
    margin-left: auto;
    margin-right: auto;

    .section_title__,
    .section_sub_title__ {
      text-align: center;
    }

    &::before {
      inset-inline-start: 20%;
    }
  }
}
