.notification_card {
  border-radius: $secondaryBorderRadius;
  border: 1px solid $borderColor;
  padding: 25px 21px;

  .head__ {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include xs {
      flex-direction: column;
      gap: 10px;
    }
  }

  .title__ {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;
    color: $headingMainColor;
  }

  .time__ {
    margin: 0;
    margin-inline-start: auto;
    font-size: 12px;
    font-weight: 300;
    color: $paragraphSixthColor;
    display: flex;
    align-items: center;

    @include xs {
      margin: 0 auto;
      font-size: 8px;
    }

    &::before {
      content: url(../images/shapes/clock.svg);
      padding: 0;
      margin-inline-end: 8px;
      height: 15px;
      width: 15px;


      @include xs {
        transform: scale(0.7);
        margin-inline-end: 4px;
      }
    }
  }

  .time_break__ {
    margin: 0 5px;
  }

  .notification_parag__ {
    font-size: 13px;
    font-weight: 300;
    color: $paragraphMainColor;
  }

  &.unread_notification {
    .title__ {
      display: flex;
      align-items: center;
      color: $secondRedColor;
      gap: 15px;

      &:after {
        content: "";
        width: 12px;
        height: 12px;
        background-color: $secondRedColor;
        top: 0;
        inset-inline-start: 0;
        border-radius: 50%;
      }
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
