.our_products_card__ {
  background-color: $greyColor !important;
  border-radius: $secondaryBorderRadius;
  display: flex;
  flex-direction: column;
  
  .img_wrapper {
    border-radius: $secondaryBorderRadius;
    overflow: hidden;
    
    .figure__ {
      padding-bottom: 166.15%;
    }
  }
  
  .description_wrapper__ {
    padding: 28px;

    .title__ {
      text-align: center;
      margin: 0;
      color: $headingMainColor;
      font-size: 20px;
      font-weight: 700;
      transition: 0.5s;
    }
  }

  &:hover {
    text-decoration: none;

    .figure__ {
      .img-om {
        transform: scale(1.1);
      }
    }

    .title__ {
      color: $secondaryColor;
    }
  }
}
