.product_card {
  background-color: $greyColor;
  border-radius: $secondaryBorderRadius;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  
  .figure__ {
    flex-grow: 1;
    overflow: hidden;
    border-radius: $secondaryBorderRadius;
    padding-bottom: 55.4%;
  }

  .description_wrapper__ {
    padding: 10px 30px;
  }

  .title__ {
    font-size: 18px;
    font-weight: 600;
    color: $headingMainColor;
    margin-bottom: 10px;
    transition: 0.5s;
  }
  
  .parag__ {
    font-size: 14px;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 10px;
  }

  .price {
    font-size: 16px;
    font-weight: 500;
    color: $primaryColor;
  }

  &:hover {
    background-color: rgba($primaryColor , 0.1);
    text-decoration: none;
    .img-om {
      transform: scale(1.2);
    }

    .title__ {
      color: $secondaryColor;
    }
  }

  &:active,
  &:focus {
    outline: none;
    border: 0;
  }
}